html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-image: url('./images/bg-pattern.png');
}

.search-form {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.gallery {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  max-width: 100%;
}

.images-cell {
  padding: 2px;
}

.photo-card {
  position: relative;
  width: 350px;
  height: 200px;
  overflow: hidden
}

.photo-card:hover .stats {
  bottom: 0;
}

.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.stats {
  position: absolute;
  bottom: -34px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: bottom 500ms;
}

.stats .stats-item {
  color: rgba(255, 255, 255, 0.45)
}

.stats-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px;
}

.stats-item i {
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.45);
  transition: color 300ms;
}

.stats p:hover i{
  color: rgba(255, 255, 255, 0.8);
}

.clear-btn, .search-btn {
  margin-left: 10px;
}

.load-more-btn {
  display: block;
  margin: 0 auto;
}

.is-hidden {
  display: none;
}

.search-form i {
  color: rgb(91, 121, 167);
}